@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100dvw;
  height: 100dvh;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4a5568 #2d3748; /* thumb color and track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Thumb color on hover */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
.transition-bg {
  transition: background-color 0.3s ease; /* Adjust duration and easing as needed */
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}
input:focus {
  outline: none !important;
  border: none !important;
}

.p-inputnumber-input:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

input:focus {
  outline: none !important;
  border: none !important;
}

.p-inputnumber-input:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.focus-within\:border-pink-400:focus-within {
  border-color: rgb(244 114 182) !important;
}